*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}

body {
    overflow-x: hidden;
    background-color: white;
    position: relative;
}

body::before{
    content: "";
    position: fixed;
    inset: 0;
    background-image: url("../img/bg.png");
    background-repeat: repeat;
    background-position: center;
    opacity: 0.5;
    z-index: -1;
    pointer-events: none;
}

.container {
    width: 80%;
    margin-inline: auto;
}

@media (max-width: 992px){
    .container {
    width: 90%;
    }
}

/* navbar */
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
    font-size: 1rem;
}
a:hover{
    color:  #105991;
}
/* akhir navbar */

/* awal header */
header {
    position: relative;
    padding: 0 2rem;
}

.navbar {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a{
    font-size: 1.3rem;
    font-weight: bold;
}

.navbar .links{
    display: flex;
    gap: 2rem;
}

.navbar .toggle-btn {
    color:  #105991;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.action-btn {
    background-color: #105991;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s ease;
}

.action-btn:hover {
    scale: 1.05;
    color: #fff;
}

.action-btn:active{
    scale: 0.95;
}

/* dropdown menu */
    .dropdown-menu{
        position: absolute;
        right: 2rem;
        top: 60px;
        height: 0;
        width: 300px;
        background: rgba(35, 12, 12, 0.1);
        backdrop-filter: blur(15px);
        border-radius: 10px;
        overflow: hidden;
        transition: height 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }

    .dropdown-menu.open {
        height: 300px;
    }

    .dropdown-menu li {
        padding: 0.7rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .dropdown-menu .action-btn{
        width: 100%;
        display: flex;
        justify-content: center;
    }

/* responsif design */
@media (max-width: 992px){
    .navbar .links,
    .navbar .action-btn {
        display: none;
    }

    .navbar .toggle-btn{
        display: block;
    }

    .dropdown-menu {
        display: block;
    }
}
/* akhir header */

/* hero */
.hero {
    margin-block: 70px;
}

.hero-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;
}

.hero-box img {
    width: 300px;
    margin-top: -5px;
}


.hero-box h1{
    text-align: center;
    font-weight: 500;
    font-size: 60px;
    line-height: 1.3;
}

.hero h1 span {
    font-weight: bold;
    color: #105991;
}

@media (max-width: 768px){
    .hero-box h1{
        font-size: 45px;
    }
}

@media (max-width: 475px){
    .hero-box h1{
        font-size: 40px;
    }
}

.About-box {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    align-items: flex-start
}

.About-box .box img{
   
    max-width: 100%;
    height: auto;
    border-radius: 15px;
    object-fit: cover;
}

.About .container > h1 {
    text-align: center;
    margin-bottom: 50px;
    font-size: 40px;
}

.About-box .box:nth-child(1){
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 150px;
    align-items: center;
    gap: 50px;
}

.About-box .box:nth-child(1) img {
    width: 300px;
    padding: 5px 5px 5px 5px ;
    background-color: rgb(0, 0, 0);
    border: 1px solid white;
    border-radius: 10px;
    margin-inline: auto;
}

.foto-About {
    width: 300px;
    height: 100%;
}

html, body {
    overflow-x: hidden;
}


.foto-About:hover .About-belakang{
     transform: translate(10px);
      transition: 0.3s;
}

.foto-About img{
    filter: grayscale(100%);
    transition: filter 0.4s ease;
}

.foto-About:hover img {
    filter: grayscale(0%);
}

.About-text {
    max-width: 520px;
}
.About-text p{
    text-align: left;
    margin-left: 0;
    line-height: 1.3;
    font-size: 20px;
}
.About-text p span{
   font-weight: bold;
}


@media (max-width: 992px) {
    .About-box .box:nth-child(1){
        grid-template-columns: 1fr;
    }
}

.hoby .container > h1 {
    text-align: center;
    margin-bottom: 50px;
    font-size: 40px;
}

h2 {
    font-size: 40px;
    margin: 50px 0;
    text-align: center;
    text-shadow: 1px  1px 2px white;
}

.kolom {
    display: flex;
    max-width: 800px;
    background-color: white;
    margin: auto;
    padding: 20px;
    box-shadow: 0 0 3px 3px rgba(0,0,0,.5);
    border-radius: 5px; }


.gallery {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
         gap: 10px;
    }


.gallery li {
    width: 100px;
    max-width: 120px;
    height: 120px;
    overflow: hidden;
    border: 5px solid rgb(51, 43, 43);
    position: relative;
}

.gallery li,
.gallery li img,
.gallery li span {
    border-radius: 0%;
}

.gallery li span {
    display: block;
    width: 120px;
    height: 120px;
    background-color: rgb(200,200,200,.5);
    position: absolute;
    top: 0;
    text-align: center;
    line-height: 120px;
    color: black;
    /* warna untuk nama */
    text-shadow: 1px 1px 1px #ddd;
    opacity: 0;
    transform: scale(0) rotate(0);
    transition: .3s;
}

.gallery li a:hover span {
    opacity: 1;
    transform: scale(1) rotate(360deg);
}

.clear {
    clear: both;
}


/* overlay */
.overlay {
    width: 0;
    height: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0);
    z-index: 9999;
    transition: .8s;
    text-align: center;
    padding: 140px 0 100px;
}

.overlay:target{
    width: auto;
    height: auto;
     bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,.8);
}


.overlay img {
    max-width: 90vw;
    max-height: 80vh;
    width: auto;
    height: auto;
    box-shadow: 2px 2px 7px rgba(0,0,0,.5);
}


.overlay:target img {
    animation: zoomDanFade 1s;
}

.overlay .close {
    position: absolute;
    top: 10%;
    left: 50%;
    margin-left: -30px;
    color: white;
    text-decoration: none;
    background-color: black;
    border: 1px solid white;
    line-height: 14px;
    padding: 5px;
    opacity: 0;
}

.overlay:target .close {
    animation: slideDownFade .5s .5s forwards;
}
/* animmasi */

@keyframes zoomDanFade {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes slideDownFade{
    0% {
        opacity: 0;
        margin-top: -20px;
    }

    100%{
        opacity: 1;
        margin-top: 0;
    }
}

/* project */

.project-box .box:nth-child(1) img,
.project-box .box:nth-child(3) img {
    height: 260px;
}

.project-box .box:nth-child(2) img,
.project-box .box:nth-child(4) img {
    height: 180px;
}


.project {
    padding-block: 50px;
}

.project-box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-top: 50px;
    gap: 20px;
}

.project-box .box {
    padding: 10px;
    max-width: 420px;
    margin: auto;
    box-shadow: 5px 5px 20px rgb(0,0,0,0.1);
    border-radius: 10px;


}

.project-box .box img {
      width: 100%;
    height: auto;
    display: block;
}

.project-box .project-desc {
    margin-top: 20px;
}

.project-box .project-desc p {
    line-height: 2;
    margin-top: 10px;
    margin-bottom: 20px;
    color: black;
}

.project-box .project-desc .project-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.project-box .project-desc .project-btn a {
    background-color: #105991;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}
.project-box .project-desc .project-btn a:hover {
    background-color: rgb(189, 180, 180);
}

@media (max-width: 768px){
    .project-box {
        grid-template-columns: 1fr;
    }
}

h3 {
    font-size: 40px;
    margin: 50px 0;
    text-align: center;
    text-shadow: 1px  1px 2px white;
}
h6 {
    font-size: 40px;
    margin: 50px 0;
    text-align: center;
    text-shadow: 1px  1px 2px white;
}

.content {
    padding: 10%;
}

.content h6{
    font-size: 28px;
    font-weight: bold;
}


form {
    display: flex;
    flex-direction: column;
    gap: 15%;
}

input,
textarea{
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid rgb(100, 85, 85);
    font-size: 14px;
}

textarea {
    height: 150px;
    resize: none;
}

button {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    background-color:  #105991;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button:hover{
    background-color: #75a2c5;
}


/* icon sosmed */


.sosial-media {
    display: flex;
    
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 30px;
    
    
}

.icon-sosmed{
    display: flex;
    justify-content: center;
    gap: 30px;
}

.icon-sosmed i{
    font-size: 50px;
    color: #105991;
    cursor: pointer;
}
.sosial-media i{
    cursor: pointer;
    font-size: 50px;
    color: #105991;
}


.fa-instagram {
    color: #105991;
}

.fa-tiktok {
    color: #105991;
}

.fa-discord {
    color: #105991;
}

.end-text {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #105991;
    opacity: 0.8;
    font-family: 'Poppins', sans-serif;
}



@media (max-width: 576px){
    .dropdown-menu {
        left: 2rem;
        width: unset;
    }
}

/* reponsif */

@media (max-width: 576px){
    .hero-box h1 {
        font-size: 32px;
        line-height: 1.2;
    }
}

@media (max-width: 576px){
    .hero{
        margin-block: 40px;
    }

    .hero-box{
        gap: 30px;
    }
}

@media (max-width: 576px){
    .kolom {
        flex-wrap: wrap;
        padding: 15px;
    }
    
    .gallery li{
        
        margin-bottom: 10px;
    }
}

@media (max-width: 576px){
        .foto-About {
            width: 220px;
            margin: auto;
        }

        .About-text{
            max-width: 100%;
            text-align: center;
        }

}

@media (max-width: 576px){
    h2, h3, h4{
        font-size: 26px;
        margin: 30px 0;
    }
}

@media (max-width: 576px){
    .content{
        padding: 20px;
    }

    form {
        gap: 15px;
    }
}

@media (max-width: 576px){
    .sosial-media i {
        font-size: 32px;
    }
}

.skil h5 {
    font-size: 50px;
    text-align: center;
    margin-bottom: 10px;
}

.skil p{
    text-align: center;
}

.tools {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
    max-width: 400px;
    margin: 0 auto;
}

h5 {
    font-size: 40px;
    margin: 50px 0;
    text-align: center;
    text-shadow: 1px  1px 2px white;
}

.tools .tools-box{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10px;
    margin-top: 10px;
}

.tools .tools-box {
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid black;
    border-radius: 5px;
}
.tools .tools-box:hover{
   background-color: rgb(192, 191, 191);
   columns: white;
}

.tools .tools-box img {
        width: 50px;
        border-radius: 5px;
        margin: 10px;
       
}




